# Cartographie : le mouvement universitaire médiéval en Europe

Cette cartographie fait suite à la collection de données de Eric Guichard et Camille Ducrot.

### Regarder les données

Jetons rapidement un oeil sur les données.

In [81]:
# parse clean data using panda

import pandas as pd
import numpy as np

df = pd.read_csv(open("../data/universites.csv", "r"))

df = df.fillna(value="0")
df.head()

,Université,Date de fondation,1200,1225,1250,1270,1275,1300,1325,1350,...,1760,1764,1766,1770,1775,1780,1785,1790,1800,1810
0,Aberdeen,1494,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,Abo,1640,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,Aix-en-Provence,1409,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Alcalà de Henares,1499,0,0,0,0,0,0,0,0,...,M : 847,0,0,M : 783,0,M : 519,0,M : 492,M : 542,0
4,Almagro,1550,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [86]:
df_info = pd.read_csv(open("../data/universites-info.csv", "r"))
df_info = df_info.fillna(value="0")
df_info.head()

,Université,Nom francisé,Pays,Date de fondation,Date de confirmation,Date de fermeture,Réouverture,Fermeture,Réouverture.1,Fermeture.1,Confession,Origine,Créateur,Fac Théologie,Fac Médecine,Fac Droit Canon,Fac droit Civil,Fac Art/philo,Unnamed: 18
0,Aberdeen,Aberdeen,Ecosse,1494,Bulle papale : 1494,0,0,0,0,0,Catholique ; Prebysterien : 1560,Création ecclésiastique,"William Elphinstone, Evèque d'Aberdeen : 1494 ...",Ouv,Ouv,Ouv,Ouv,Ouv,0
1,Abo,"Turku, Finlande",Royaume de Suède,1640,0,0,0,0,0,0,Luthérien,Création princière,Pierre de Brahé,Ouv,Ouv,Ouv,Ouv,Ouv,0
2,Aix-en-Provence,0,Provence : 1409 ; Royaume de France : 1486,1409,Bulle papale : 1409,1793,0,0,0,0,Catholique,Création princière,Louis II d'Anjou,Ouv,Ouv : 1562,Ouv,Ouv,Ouv,0
3,Alcalà de Henares,0,Royaume des deux Espagnes : 1499 ; Royaume d'E...,1499,Bulle papale : 1499 ; Début : 1508 ; Bulle pap...,0,0,0,0,0,Catholique,Création ecclésiastique,Cardinal Jimenez de Cisneros,Ouv,Ouv : 1514,Ouv,Ouv : 1772,Ouv,0
4,Almagro,0,Royaume des deux Espagnes : 1550 ; Royaume d'E...,1550,Bulle papale : 1552,1807,0,0,0,0,Catholique,Création ecclésiastique,Couvent dominicain,Ouv,Abs,Abs,Abs,Ouv,0

## Géocodage 

Rertouvons latitutde et longitude depuis le nom de ville

In [78]:
import json
import os
import csv
import geocoder


with open("../data/universites.csv", "r") as f:
    data = csv.reader(f)
    data.next()  # skip the headers
    
    villes = []
    for row in data:
        ville = row[0].decode('utf-8')
        villes.append(ville)

print "%s villes"%len(villes)

platform = "bing"

geocodes = {}
for i,ville in enumerate(villes): 

    g = geocoder.bing(ville)
    geocodes[ville] = g.json
    print i, ville

    # save to file
    with open("../data/geocodes-"+platform+".json", "wb") as out:
        json.dump(geocodes, out, indent=2)

print "%s/%s records geolocation with %s saved correcly"%(len(geocodes.keys()), i, platform)

192 villes
0 Aberdeen
1 Abo
2 Aix-en-Provence
3 Alcalà de Henares
4 Almagro
5 Altamura
6 Altdorf bei Nuremberg
7 Ancona
8 Angers
9 Arezzo
10 Avignon
11 Avila
12 Baeza
13 Bamberg
14 Barcelone
15 Basle
16 Besançon
17 Bologne
18 Bonn
19 Bordeaux
20 Bourges
21 Braunsberg
22 Breslau
23 Budapest
24 Burgo de Osma
25 Caen
26 Cagliari
27 Cahors
28 Cambridge
29 Camerino
30 Catania
31 Cervera
32 Coïmbra
33 Copenhaguen
34 Corte
35 Cracow
36 Die
37 Dijon
38 Dilligen
39 Dôle
40 Dorpat
41 Douai
42 Dublin
43 Duisburg
44 Edimbourg
45 Eperjes
46 Erfurt
47 Erlangen
48 Escorial
49 Evora
50 Fermo
51 Ferrara
52 Florence
53 Franeker
54 Frankfurt-on-Oder
55 Freiburg-im-Breisgau
56 Fulda
57 Gandia
58 Geneva
59 Genoa
60 Gerona
61 Giessen
62 Glasgow
63 Göttingen
64 Granada
65 Graz
66 Greifswald
67 Grenoble
68 Groninguen
69 Halle
70 Harderwijk
71 Heidelberg
72 Helmstedt
73 Huesca
74 Iéna
75 Ingolstadt
76 Innsburck
77 Irache
78 Kassa
79 Kassel
80 Kiel
81 Köln
82 Königsberg
83 Laguna
84 Leiden
85 Leipzig
86 Leuven
87 Linz
88 Lisbonne
89 Lleida
90 Lucca
91 Lund
92 Lwow
93 Macerata
94 Mainz
95 Mantova
96 Marburg
97 Messina
98 Milano
99 Modena
100 Molsheim
101 Monbéliard
102 Mondovi
103 Montauban
104 Montpellier
105 Moskva
106 Münster-Westfalen
107 Nagyszombat
108 Nancy
109 Nantes
110 Napoli
111 Nice
112 Nimeguen
113 Nîmes
114 Olomouc
115 Onasbrück
116 Oñate
117 Orange
118 Orihuela
119 Orléans
120 Orthez
121 Osuna
122 Oviedo
123 Oxford
124 Paderborn
125 Padova
126 Palermo
127 Palma de Mallorca
128 Pamplona
129 Paris
130 Parma
131 Pau
132 Pavia
133 Perpignan
134 Perugia
135 Pisa
136 Poitier
137 Pont-à-Mousson
138 Pozsony
139 Praha
140 Reims
141 Rennes
142 Rinteln
143 Rome
144 Rome, Curie
145 Rostock
146 Sahagùn
147 Saint-Andrews
148 Saint-Peterburg
149 Salamanque
150 Salerno
151 Salzburg
152 Santiago de Compostella
153 Sassari
154 Saumur
155 Sedan
156 Séville
157 Siena
158 Sigüenza
159 Solsona
160 Strasbourg
161 Stuttgart
162 Tolède
163 Tortosa
164 Toulouse
165 Tournon
166 Trèvise
167 Trier
168 Tübingen
169 Torino
170 Uppsala
171 Urbino
172 Utrecht
173 Valence
174 Valencia
175 Valladolid
176 Venezia
177 Verceil
178 Vérone
179 Vich
180 Vienna
181 Vilnius
182 Wittemberg
183 Würzbourg
184 Zamosc
185 Zaragoza
186
187
188 M : matricules
189 Est : Estimation
190 J : collège jésuites
191 R : rotuli
191/191 records geolocation with bing saved correcly

### Repérer les erreurs dans le géocodage

D'abord en regardant les réponses des serveurs de géocodage, puis en regardant la carte.

In [92]:
platforms = ["google", "osm", "mapquest", "bing"]

for platform in platforms: 
    print "="*10
    print platform
    print 
    
    # read records
    with open("../data/geocodes-" + platform + ".json", "r") as f:
        geocodes = json.load(f)
        print "%s geocoded records"%len(geocodes.keys())

        # check error
        errors = []

        for city in geocodes:
            g = geocodes[city]
            if "ERROR" in g["status"] and "location" in g.keys(): 
                    errors.append(g)

    print "-"*10
    print "%s errors"%len(errors)
    for error in errors: 
        print "* " + error["location"]

==========
google

191 geocoded records
----------
12 errors
* Dilligen
* Onasbrück
* Braunsberg
* Besançon
* Nimeguen
* J : collège jésuites
* M : matricules
* Est : Estimation
* Monbéliard
* Palma de Mallorca
* Würzbourg
* Cahors
==========
osm

191 geocoded records
----------
12 errors
* Innsburck
* Dilligen
* Die
* Altdorf bei Nuremberg
* Frankfurt-on-Oder
* Groninguen
* J : collège jésuites
* Nimeguen
* M : matricules
* Est : Estimation
* Würzbourg
* Onasbrück
==========
mapquest

191 geocoded records
----------
0 errors
==========
bing

191 geocoded records
----------
7 errors
* R : rotuli
* Groninguen
* Reims
* J : collège jésuites
* M : matricules
* Est : Estimation
* Torino

###

In [ ]:
%matplotlib inline
import matplotlib.pyplot as plt


# turn into time series
# can not be converted to time series - see http://stackoverflow.com/questions/32888124/pandas-out-of-bounds-nanosecond-timestamp-after-offset-rollforward-plus-adding-a


# remove M: from values
# for key in df :
#     if key not in ["Université", "Date de fondation"]: 
# #         print df[key]
#         df[key] = df[key].astype(np.str).str.replace("\s", "").str.replace("M", "").str.replace(":", "").astype(np.float)

In [91]:
universites = []

# parse clean data
with open("../data/universites.csv", "r") as f:
    data = csv.reader(f)
    
    for i, row in enumerate(data):
        if i == 0:
            years = [r for j, r in enumerate(row) if j > 1]
        else :
            univ = {
                "name" : row[0],
                "created" : row[1]
            }
            
            for j,year in enumerate(years):
                univ[year] = row[j]
            
            universites.append(univ)